body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

h1 {
    color: #333;
    position: absolute;
    transition: all 0.2s ease;
}